/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}


//##########
//BEGIN CUSTOM STYLE
//##########
.svg--circle {
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0) translateY(0) translateZ(0) scale(1) rotate(35deg);
  transition: transform 0.6s linear;
  transform-origin: center center;
  width: 100%;
  height: 100%;

  &.rotate-70 {
	transform : translateX(0) translateY(0) translateZ(0) scale(1) rotate(70deg);
  }

  &.rotate-100 {
	transform : translateX(0) translateY(0) translateZ(0) scale(1) rotate(100deg);
  }
}


.slider--wrapper {
  position: relative;
  max-width: 100%;
    margin-top:-9rem;
  overflow: hidden;
}

.slider--homepage {
  height: auto;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%) translateY(0) translateZ(0);
  padding-left: 85px;
}

.slider--homepage .slider--homepage__item {

  svg {
	visibility: hidden;
	opacity: 0;
	//transition: all 0.9s linear;
	position: relative;
  }
  &.slick-current {
	svg {
	  visibility: visible;
	  opacity: 1;
	}
  }

  &:nth-child(3){
	svg {
	  transition: all 0.6s linear;
	}
  }

  //##########
  //animation 1
  //##########

  #emcaozlt5vai1 {
	pointer-events: all;
  }
  &.is--animating, &.slick-current {



	#emcaozlt5vai1 #emcaozlt5vai3_to {
	  animation: emcaozlt5vai3_to__to 2000ms linear 1 normal forwards;
	}



	#emcaozlt5vai1 #emcaozlt5vai6 {
	  animation-name: emcaozlt5vai6__m, emcaozlt5vai6_c_o;
	  animation-duration: 2000ms;
	  animation-fill-mode: forwards;
	  animation-timing-function: linear;
	  animation-direction: normal;
	  animation-iteration-count: 1;
	}

	#emcaozlt5vai1 #emcaozlt5vai7 {
	  animation-name: emcaozlt5vai7__m, emcaozlt5vai7_c_o;
	  animation-duration: 2000ms;
	  animation-fill-mode: forwards;
	  animation-timing-function: linear;
	  animation-direction: normal;
	  animation-iteration-count: 1;
	}


	#emcaozlt5vai1 #emcaozlt5vai120 {
	  animation-name: emcaozlt5vai120__m, emcaozlt5vai120_c_o;
	  animation-duration: 2000ms;
	  animation-fill-mode: forwards;
	  animation-timing-function: linear;
	  animation-direction: normal;
	  animation-iteration-count: 1;
	}



	#emcaozlt5vai1 #emcaozlt5vai121 {
	  animation-name: emcaozlt5vai121__m, emcaozlt5vai121_c_o;
	  animation-duration: 2000ms;
	  animation-fill-mode: forwards;
	  animation-timing-function: linear;
	  animation-direction: normal;
	  animation-iteration-count: 1;
	}
  }


  //##########
  //animation 2
  //##########
  #eos4to8f7ye1 {
	pointer-events: all;
  }
  &.is--animating, &.slick-current {


	#eos4to8f7ye1 #eos4to8f7ye3_ts {
	  animation: eos4to8f7ye3_ts__ts 2000ms linear 1 normal forwards;
	}

	#eos4to8f7ye1 #eos4to8f7ye3 {
	  animation: eos4to8f7ye3_c_o 2000ms linear 1 normal forwards;
	}

	#eos4to8f7ye1 #eos4to8f7ye16_to {
	  animation: eos4to8f7ye16_to__to 2000ms linear 1 normal forwards;
	}

	#eos4to8f7ye1 #eos4to8f7ye16_ts {

	  animation: eos4to8f7ye16_ts__ts 2000ms linear 1 normal forwards;
	}



	#eos4to8f7ye1 #eos4to8f7ye129_to {
	  animation: eos4to8f7ye129_to__to 2000ms linear 1 normal forwards;
	}

	#eos4to8f7ye1 #eos4to8f7ye129_ts {
	  animation: eos4to8f7ye129_ts__ts 2000ms linear 1 normal forwards;
	}

	#eos4to8f7ye1 #eos4to8f7ye129 {
	  animation: eos4to8f7ye129_c_o 2000ms linear 1 normal forwards;

	}
  }

  //##########
  //animation 3
  //##########
  #eh86klba2efu1 {
	pointer-events: all;
  }
  &.is--animating, &.slick-current {

	#eh86klba2efu1 #eh86klba2efu7_to {
	  animation: eh86klba2efu7_to__to 2000ms linear 1 normal forwards;
	}

	#eh86klba2efu1 #eh86klba2efu7 {
	  animation: eh86klba2efu7_c_o 2000ms linear 1 normal forwards;
	}


	#eh86klba2efu1 #eh86klba2efu12 {
	  animation: eh86klba2efu12__m 2000ms linear 1 normal forwards;
	}


	#eh86klba2efu1 #eh86klba2efu18_to {
	  animation: eh86klba2efu18_to__to 2000ms linear 1 normal forwards;
	}

	#eh86klba2efu1 #eh86klba2efu54_to {
	  animation: eh86klba2efu54_to__to 2000ms linear 1 normal forwards;
	}

	#eh86klba2efu1 #eh86klba2efu67_to {
	  animation: eh86klba2efu67_to__to 2000ms linear 1 normal forwards;
	}



	#eh86klba2efu1 #eh86klba2efu67 {
	  animation: eh86klba2efu67_c_o 2000ms linear 1 normal forwards;
	}



	#eh86klba2efu1 #eh86klba2efu222_to {
	  animation: eh86klba2efu222_to__to 2000ms linear 1 normal forwards;
	}

	#eh86klba2efu1 #eh86klba2efu222 {
	  animation: eh86klba2efu222_c_o 2000ms linear 1 normal forwards;
	}



	#eh86klba2efu1 #eh86klba2efu377 {
	  animation: eh86klba2efu377_c_o 2000ms linear 1 normal forwards;
	}
  }
}










#eh86klba2efu1 #eh86klba2efu15 {
  animation: eh86klba2efu15__m 2000ms linear 1 normal forwards;
}
